<a href="https://colab.research.google.com/github/dijkstra001/fraud-analytics/blob/main/frauds_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FRAUDS ANALYTICS**

#### **OBJETIVO:**
Esse projeto tem como objetivo analisar um conjunto de dados reais, disponíveis em: e detectar as causas de fraudes no ramo imobiliário.

Análise de fraudes é um tema complexo, pois várias técnicas são estudadas e desenvolvidas por aqueles que praticam esses atos. Por isso, esse projeto tem finalidade de pesquisa e estudo, não sendo ideal para uma prática comercial.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.float_format', lambda x : '%.2f' % x)
%matplotlib inline

**RESUMO DOS DADOS:**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

dataset = pd.read_csv("/content/drive/MyDrive/fraud-analytics/datasets/dataset.csv")
dataset.head(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   RECORD        BBLE  B  BLOCK  ...  EXCD2 PERIOD     YEAR VALTYPE
0       1  1000010101  1      1  ...    nan  FINAL  2010/11   AC-TR
1       2  1000010201  1      1  ...    nan  FINAL  2010/11   AC-TR
2       3  1000020001  1      2  ...    nan  FINAL  2010/11   AC-TR
3       4  1000020023  1      2  ...    nan  FINAL  2010/11   AC-TR
4       5  1000030001  1      3  ...    nan  FINAL  2010/11   AC-TR
5       6  1000030002  1      3  ...    nan  FINAL  2010/11   AC-TR
6       7  1000030003  1      3  ...    nan  FINAL  2010/11   AC-TR
7       8  1000030010  1      3  ...    nan  FINAL  2010/11   AC-TR
8       9  1000041001  1      4  ...    nan  FINAL  2010/11   AC-TR
9      10  1000041002  1      4  ...    nan  FINAL  2010/11   AC-TR

[10 rows x 32 columns]

In [3]:
print(f'Nº de linhas: {dataset.shape[0]}')
print(f'Nº de colunas: {dataset.shape[1]}')
print(f'Variáveis: {dataset.columns.to_list()}')
print(f'\nValores únicos:\n{dataset.nunique()}')

Nº de linhas: 1070994
Nº de colunas: 32
Variáveis: ['RECORD', 'BBLE', 'B', 'BLOCK', 'LOT', 'EASEMENT', 'OWNER', 'BLDGCL', 'TAXCLASS', 'LTFRONT', 'LTDEPTH', 'EXT', 'STORIES', 'FULLVAL', 'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'STADDR', 'ZIP', 'EXMPTCL', 'BLDFRONT', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2', 'EXCD2', 'PERIOD', 'YEAR', 'VALTYPE']

Valores únicos:
RECORD      1070994
BBLE        1070994
B                 5
BLOCK         13984
LOT            6366
EASEMENT         12
OWNER        863346
BLDGCL          200
TAXCLASS         11
LTFRONT        1297
LTDEPTH        1370
EXT               3
STORIES         111
FULLVAL      109324
AVLAND        70921
AVTOT        112914
EXLAND        33419
EXTOT         64255
EXCD1           129
STADDR       839280
ZIP             196
EXMPTCL          14
BLDFRONT        612
BLDDEPTH        621
AVLAND2       58591
AVTOT2       111360
EXLAND2       22195
EXTOT2        48348
EXCD2            60
PERIOD            1
YEAR              1
VALTYPE           1
dtype: int64

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 32 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   RECORD    1070994 non-null  int64
 1   BBLE      1070994 non-null  object
 2   B         1070994 non-null  int64
 3   BLOCK     1070994 non-null  int64
 4   LOT       1070994 non-null  int64
 5   EASEMENT  4636 non-null     object
 6   OWNER     1039249 non-null  object
 7   BLDGCL    1070994 non-null  object
 8   TAXCLASS  1070994 non-null  object
 9   LTFRONT   1070994 non-null  int64
 10  LTDEPTH   1070994 non-null  int64
 11  EXT       354305 non-null   object
 12  STORIES   1014730 non-null  float64
 13  FULLVAL   1070994 non-null  float64
 14  AVLAND    1070994 non-null  float64
 15  AVTOT     1070994 non-null  float64
 16  EXLAND    1070994 non-null  float64
 17  EXTOT     1070994 non-null  float64
 18  EXCD1     638488 non-null   float64
 19  STADDR    1070318 non-null  object
 20  ZIP       1041104 non-null  float64
 21  EXMPTCL   15579 non-null    object
 22  BLDFRONT  1070994 non-null  int64
 23  BLDDEPTH  1070994 non-null  int64
 24  AVLAND2   282726 non-null   float64
 25  AVTOT2    282732 non-null   float64
 26  EXLAND2   87449 non-null    float64
 27  EXTOT2    130828 non-null   float64
 28  EXCD2     92948 non-null    float64
 29  PERIOD    1070994 non-null  object
 30  YEAR      1070994 non-null  object
 31  VALTYPE   1070994 non-null  object
dtypes: float64(13), int64(8), object(11)
memory usage: 261.5+ MB

**SEPARANDO AS VARIÁVEIS NUMÉRICAS E CATEGÓRICAS:**

In [5]:
numerics_vars = ['RECORD', 'BLOCK', 'LOT', 'LTFRONT', 'LTDEPTH',
       'FULLVAL', 'AVLAND', 'AVTOT', 'EXLAND', 'EXTOT', 'EXCD1', 'ZIP',
       'BLDFRONT', 'STORIES', 'BLDDEPTH', 'AVLAND2', 'AVTOT2', 'EXLAND2', 'EXTOT2',
       'EXCD2']

categoric_vars = ['B', 'BBLE', 'EASEMENT', 'OWNER', 'BLDGCL', 'TAXCLASS', 'EXT', 'STADDR',
       'EXMPTCL', 'PERIOD', 'YEAR', 'VALTYPE']

**SEPARANDO O DATASET DE ACORDO COM OS TIPOS DE VARIÁVEIS:**

In [6]:
dataset_num = dataset[numerics_vars]
dataset_cat = dataset[categoric_vars]

**RESUMO ESTATÍSTICO DAS VARIÁVEIS NUMÉRICAS:**

In [7]:
summ_num = pd.DataFrame(index = dataset_num.columns)
summ_num['Types'] = dataset_num.dtypes.values
summ_num['Non-null-registers'] = dataset_num.count().values
summ_num['Non-zero-registers'] = dataset_num.astype(bool).sum(axis = 0)
summ_num['Populated'] = round(summ_num['Non-null-registers'] / dataset_num.shape[0] * 100, 2)
summ_num['Unique-values'] = dataset_num.nunique().values
summ_num['Mean'] = round(dataset_num.mean(), 2)
summ_num['Std'] = round(dataset_num.std(), 2)
summ_num['Min'] = round(dataset_num.min(), 2)
summ_num['Max'] = round(dataset_num.max(), 2)
summ_num

            Types  Non-null-registers  ...      Min           Max
RECORD      int64             1070994  ...     1.00    1070994.00
BLOCK       int64             1070994  ...     1.00      16350.00
LOT         int64             1070994  ...     1.00       9978.00
LTFRONT     int64             1070994  ...     0.00       9999.00
LTDEPTH     int64             1070994  ...     0.00       9999.00
FULLVAL   float64             1070994  ...     0.00 6150000000.00
AVLAND    float64             1070994  ...     0.00 2668500000.00
AVTOT     float64             1070994  ...     0.00 4668308947.00
EXLAND    float64             1070994  ...     0.00 2668500000.00
EXTOT     float64             1070994  ...     0.00 4668308947.00
EXCD1     float64              638488  ...  1010.00       7170.00
ZIP       float64             1041104  ... 10001.00      33803.00
BLDFRONT    int64             1070994  ...     0.00       7575.00
STORIES   float64             1014730  ...     1.00        119.00
BLDDEPTH    int64             1070994  ...     0.00       9393.00
AVLAND2   float64              282726  ...     3.00 2371005000.00
AVTOT2    float64              282732  ...     3.00 4501180002.00
EXLAND2   float64               87449  ...     1.00 2371005000.00
EXTOT2    float64              130828  ...     7.00 4501180002.00
EXCD2     float64               92948  ...  1011.00       7160.00

[20 rows x 9 columns]

**RESUMO ESTATÍSCICO DAS VARIÁVEIS CATEGÓRICAS:**

In [8]:
summ_cat = pd.DataFrame(index = dataset_cat.columns)
summ_cat['Types'] = dataset_cat.dtypes.values
summ_cat['Non-null-registers'] = dataset_cat.count().values
summ_cat['Populated'] = round(summ_cat['Non-null-registers'] / dataset_cat.shape[0] * 100, 2)
summ_cat['Unique-values'] = dataset_cat.nunique().values
summ_cat

           Types  Non-null-registers  Populated  Unique-values
B          int64             1070994     100.00              5
BBLE      object             1070994     100.00        1070994
EASEMENT  object                4636       0.43             12
OWNER     object             1039249      97.04         863346
BLDGCL    object             1070994     100.00            200
TAXCLASS  object             1070994     100.00             11
EXT       object              354305      33.08              3
STADDR    object             1070318      99.94         839280
EXMPTCL   object               15579       1.45             14
PERIOD    object             1070994     100.00              1
YEAR      object             1070994     100.00              1
VALTYPE   object             1070994     100.00              1